<div class="typeahead">
  <div class="typeahead__search">
    <h1>{{"Typeahead"}}</h1>
    <div class="typeahead__search__input">
      <p-autoComplete
        [ngModel]="selectedItem"
        [suggestions]="suggestions"
        [placeholder]="'Start typing...'"
        [size]="100"
        [scrollHeight]="'350px'"
        [autoHighlight]="true"
        [showClear]="true"
        [virtualScroll]="true"
        [virtualScrollItemSize]="50"
        [lazy]="true"
        (completeMethod)="search($event.query)"
        (onSelect)="select($event)"
        (onClear)="search('')" >
      </p-autoComplete>
    </div>
  </div>
  <ul>
    <li *ngFor="let todo of filteredTodos$ | async">
      <div>Id: {{todo.id}}</div>
      <div>User Id: {{todo.userId}}</div>
      <div>Title: {{todo.title}}</div>
      <div>Completed: {{todo.completed}}</div>
    </li>
  </ul>
</div>


